NODE_ENV = development
PORT = 6001

MONGO_URI = mongodb://localhost:27017/flap-admin
mongodb://salmanlodi:salmanlodi0@ds145871.mlab.com:45871/schoolcom
BASE_URI = 'http://localhost:6001'

SECRET = 
S3_BUCKET_NAME = 
S3_API_KEY = 
S3_API_SECRET = 
S3_IMAGES_FOLDERNAME =
S3_VIDEOS_FOLDERNAME = 
S3_PATH =
S3_CDN_PATH = 
SERVER_IMAGE_PATH = 

LOGS_PATH = 
MASTER_SALT = 'flap_is_amazing_ship_we_built';
RESET_PASSWORD_SALT = 'fkruurkf';
sentryConfig = 'https://c70b2082536248f8ae62a5b8f92480bc@sentry.io/12539261'; //remove 1(digit) from end while deployment
JWT_SECRET = 'flap_is_amazing_ship_we_built';